<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comercio</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mercadão da Jaque</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listaProduto">Listar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoProduto">Novo Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listaEspecie">Listar Especie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novaEspecie">Nova Especie</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descrição</th>
                <th>Validade</th>
                <th>Orientação</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (esp of especie){%>
                <tr>
                    <td><%= esp.esp_codigo %> </td>
                    <td><%= esp.esp_descricao %> </td>
                    <td><%= esp.esp_validade %> </td>
                    <td><%= esp.esp_orientacao %> </td>
                    <td>
                        <a class="btn btn-warning" href=<%="/especie/" + esp.esp_codigo%>>Alterar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href=<%="/especie/excluir/" + esp.esp_codigo%>>Deletar</a>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <script src="/js/bootstrap.js"></script>
</body>

</html>